.header{
    background: url('../image/fedfawfzawawz.avif');
    width: 100%;
    height: 950px;
    background-position: center;
    background-size: cover;
}
.navbar{
    color: black;
    height: 100px;
    display: flex;
}
.navlink{
    list-style: none;
display: flex;
align-items: center;
margin-left: 500px;
margin-top: 70PX;

}
.navlink li a{
    text-decoration: none;
    margin-left: 1px;
    padding: 20px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
.heading1{
    
    margin-left: 40px;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(77, 74, 54);
    text-shadow: 1px 2px 2px crimson;
    font-weight: lighter;
}
.div2{
    margin-top: 300px;
}
img{
    width: 180px;
    height: 130px;
    border: 4px solid rgb(255, 96, 96);
    margin-top: 5px;
}
h1{
    margin-left: 80px;
    color: rgb(230, 255, 6);
    font-size: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div2 p{
    font-size: 29px;
    padding-top: 160px;
    text-align: justify;
    color: aliceblue;
    text-align: center;
}


   

.social{
    margin-left: 550px;
    word-spacing: 30px;
    padding-top: 80px;
        
        
    
}
.par{
    color: rgb(255, 255, 255);
    padding-left: 330px;
    padding-top: 15px;
}
button{
    box-shadow: 2px 2px 2px 3px rgb(71, 68, 68);
    font-size: 20px;
    margin-left: 565px;
    margin-top: 2px;
    color: rgb(0, 0, 0);
    background-color: rgb(49, 221, 252);
}
button:hover{
    color: rgb(255, 7, 7);
    background-color: rgba(255, 255, 255, 0.829);
    
}
footer{
    background-color: rgb(253, 253, 253);
    height: 300px;
    border-top-left-radius: 88px;
}
.foot{
    border-start-end-radius: 90px;
    
}
.dosra li a{
    text-decoration: none;
    font-size: 30px;
    padding-left: 50px;
    color: black;
    

}
.dosra li{
    

}
.dosra{
   
}
.ull{
    list-style: none;
   

    
}
.op{
    margin-left: 88px;

}
div{
    margin-top: 30px;
}